.sell-form {
  display: flex;
  flex-flow: column;
  padding: 10px ;
  max-width: 500px; 
  margin: 0 auto;
  
}
.color-form {
  display: flex;
  flex-flow: column;
  background-color:#FFFCFC ;
}
.modal-form {
  display:flex;
  flex-flow: column;
  margin-bottom: 10px;
}

.modal-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-form input[type="text"] {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}


.section-header {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;  
    margin-bottom: 10px; 
    border-bottom: 1px solid ; 
    padding-bottom: 3px;
}


.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: 20px; 
}

.radio-group label {
    display: flex;
    align-items: center;
    width: 50%; 
    margin-right: 0;
    margin-bottom: 0; 
    font-size: 14px;
    cursor: pointer;
  
}

.radio-group input[type="radio"] {
    margin-right: 8px;
    transform: scale(1.2); 
}


.price-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px ;
    max-width: 500px; 
    margin: 0 auto;
}

.price-unit {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap; 
}

.price-input-wrapper input[type="text"] {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 16px;
    flex-grow: 1; 
}

.sell-form button[type="submit"] {
    padding: 15px;
    background-color: #0B3D2E; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.explanation-text {
    wide: 100%;
    font-size: 14px;

}