.sell-form {
  display: flex;
  flex-flow: column;
  padding: 10px ;
  max-width: 600px; 
  margin: 0 auto;
}

.modal-form {
  display:flex;
  flex-flow: column;
  margin-bottom: 20px;
}


.section-header {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;  
    margin-bottom: 15px; 
    border-bottom: 1px solid ; 
    padding-bottom: 5px;
}


.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: 20px; 
}

.radio-group label {
    display: flex;
    align-items: center;
    width: 45%; 
    margin-right: 5%; 
    margin-bottom: 10px; 
}


.price-input-wrapper {
    display: flex;
    align-items: center;
    gap: 5px; 
}



