.serectCategoryBox{
    padding: 0 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius:5px;
    width:calc(100% - 40px);
    height: 64px;
    transition: height 0.3s ease;
}

.serectCategoryBox.active{
    height: calc(64px * 2 + 10px);
}

.SerectCategory {
    border:none;
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:28px;
    width: 100%;
    height: 100%;
    position: relative;
}

.SerectCategory.active {
    height: 64px;
}

.categoryIconBox{
    width: 47.9px;
    height: 41.4px;
}

.categoryIcon{
    width: 100%;
    height: 100%;
}

.CategoryTxt{
    font-size: 16px;
    font-weight: 500;
    color:var(--primary-color);
}


.SerectCategory::before{
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top:1px solid var(--primary-color);
    border-right:1px solid var(--primary-color);
    top:56%;
    right:9%;
    transform: rotate(45deg) translate(-50%,-45%);
}


.serectDetail{
    width: 100%;
}