.TextBox {
    width:343px;
    height: 30px;
    background: var(--gray-color);
    border:none;
    border-radius: 5px;
    padding: 0 0 0 30px;
    position: relative;
}

.TextBox::before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(/search.png);
    background-size: cover;
    top: 50%;
    left:0;
    transform:translate(30%,-50%)
}

.TextInput {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 10px;
    color: var(--black-color);
}