.headerWrraper{
    position:sticky;
    top:0;
    z-index: 999;
}

.CheckKeyword {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.SerectCategorys {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
    padding:0 16px;
}

.sendBtn{
    position:fixed;
    bottom:32px;
    right:20px;
}