.formContainer{
    padding-top: 100px;
    margin-top: 50px;
}

.appName{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Zen Maru Gothic", sans-serif;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputLabel{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 85%;
}

.inputBox{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #FFFCFC;
}

.signUpLink{
    color: var(--primary-color);
}

.formFooter {
    display: flex;
    justify-content: center;
}

.setButton{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 17px;
}
