.serectCategoryBox{
    background-color: var(--white-color);
    border: 2px solid var(--gray-color);
    border-radius:5px;
    width:calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding:18px 16px;
    transition: box-shadow 0.4s ease, border 0.4s ease;
    width: 100%;
}

.serectCategoryBox.active{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    border:1px solid var(--primary-color);
}

.SerectCategory {
    border:none;
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:28px;
    height: 28px;
    width: 100%;
    position: relative;
}


.categoryIconBox{
    width: 47.9px;
    height: 41.4px;
}

.categoryIcon{
    width: 100%;
    height: 100%;
}

.CategoryTxt{
    font-size: 16px;
    font-weight: 500;
    color:var(--primary-color);
}


.SerectCategory::before{
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top:1px solid var(--primary-color);
    border-right:1px solid var(--primary-color);
    top:75%;
    right:2%;
    transform: rotate(45deg) translate(-60%,-60%);
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
}

.SerectCategory.active::before{
    top:37%;
    transform: rotate(135deg) translate(-50%,0%);
}


.categoryChildren{
    overflow: hidden;
    height: 0;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.categoryChildren.active{
    margin-top: 16px;
}
