.HeaderMenuBtn{
    background: var(--menu-color);
    display: flex;
    align-items: center;
    width: 100%;
    gap: 14px;
    padding: 14px 0 14px 28px;
    border:none;
    position: relative;
}

.HeaderMenuBtn::after{
    content:"";
    width: 16px;
    height: 16px;
    position: absolute;
    top:50%;
    right:18px;
    transform: translate(0,-50%) rotate(45deg);
    border-top:1.5px solid var(--white-color);
    border-right:1.5px solid var(--white-color);
}

.MenuIconBox{
    width: 25px;
    height: 25px;
}

.MenuIcon{
    width: 100%;
    height: 100%;
}

.MenuTxt{
    font-weight: bold;
    color: var(--white-color);
    font-size: 20px;
    font-family: "Zen Maru Gothic", sans-serif;
}

