.labelContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    
}

.inputContainer {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.inputLabel {
    display: flex;
    flex-direction: row;;
}

.requiredBadge {
    color: var(--white-color);
    background-color: rgb(209, 2, 2);
    font-size: 8px;
    margin-left: 15px;
    padding-top: 7px;
    border-radius: 5px;
}

.inputBox {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #FFFCFC;
}

.signInLinkContainer {
    padding-left: 15px;
}
.signInLink {
    color: var(--primary-color); 
}

.formFooter {
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--primary-color);
}

.setButton {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 17px;
}

