.UserLogs {
    display: flex;
    gap:10px;
    padding: 10px;
}

.LogFolder {
    display: flex;
    align-items: center;
    gap:6px;
}

.LogIcons {
    width: 10px;
    height: 10px; 
}

.LogLabel {
    color:var(--primary-color);
    font-size: 10px;
    font-weight: normal;
}

.Current {
    font-weight: bold;
}

.LogArrow {
    width: 10px;
    height: 10px;
}