.HambargarBtn {
    all:unset;
    width: 24px;
    height: 18px;
    position: relative;
    z-index: var(--z-index-menu);
}

.HambargarBar {
  width: 100%;
  height: 3px;
  position: absolute;
  background: var(--white-color);
  left: 50%;
  transition: transform 1.0s ease, opacity 1.0s ease;
}

.HambargarBar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.HambargarBar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.HambargarBar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

.HambargarBtn.active {
    background: var(--menu-color);
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

.HambargarBar:first-child.active {
  top:50%;
  transform:translate(-50%,-50%) rotate(135deg);
}

.HambargarBar:nth-child(2).active {
  opacity: 0;
}

.HambargarBar:last-child.active {
  top:50%;
  transform:translate(-50%,-50%) rotate(45deg)
}

