.HambargarMenu {
    width: 24px;
    height: 18px;
    position: relative;
    z-index: var(--z-index-menu);
}

.HambargarBar {
  width: 100%;
  height: 3px;
  position: absolute;
  background: var(--white-color);
  left: 50%;
}

.HambargarBar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.HambargarBar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.HambargarBar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}